.container
  %h1 Manage colleagues
  = link_to "Your colleague is not on Makerble yet? Click here to send an invitation.", new_user_invitation_path, class: 'hint', target: '_blank'

  = simple_form_for(@charity) do |f|

    %p
      An editor can; write change updates, edit reporters change updates, approve and pubish change updates,
      write a new project, approve and publish a project, amend an existing project.
    = f.label :editors, "Editors"
    = f.association :editors, as: :hidden
    
    %p
      A reporter can; write change updates and write a new project.
    = f.label :reporters, "Reporters"
    = f.association :reporters, as: :hidden
    
    = f.submit
