.container
  %h1 Listing stories

  %table
    %tr
      %th Text
      %th Change
      %th Number
      %th
      %th
      %th

    - @stories.each do |story|
      %tr
        %td= story.text
        %td= story.change
        %td= story.number
        %td= link_to 'Show', story
        %td= link_to 'Edit', edit_story_path(story)
        %td= link_to 'Destroy', story, :method => :delete, :data => { :confirm => 'Are you sure?' }
